<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wh.library">

    <!--<application>-->
        <!--<provider-->
                <!--android:name="leakcanary.internal.LeakSentryInstaller"-->
                <!--android:authorities="${applicationId}.leak-sentry-installer"-->
                <!--android:exported="false"/>-->
    <!--</application>-->

</manifest>
